<!-- src/app/components/product/product-form.component.html -->

<form (ngSubmit)="handleSubmit()" class="form">
  <div class="formGroup">
    <label class="controlLabel">Nome</label>
    <input
      class="formControl"
      type="text"
      [(ngModel)]="product.name"
      name="name"
    />
    <div *ngIf="errors.name" class="textDanger">{{ errors.name }}</div>
  </div>

  <div class="formGroup">
    <label class="controlLabel">SKU</label>
    <input
      class="formControl"
      type="text"
      [(ngModel)]="product.sku"
      name="sku"
    />
    <div *ngIf="errors.sku" class="textDanger">{{ errors.sku }}</div>
  </div>

  <div class="formGroup">
    <label class="controlLabel">Preço</label>
    <input
      class="formControl"
      type="number"
      [(ngModel)]="product.price"
      name="price"
    />
    <div *ngIf="errors.price" class="textDanger">{{ errors.price }}</div>
  </div>

  <div class="formGroup">
    <label class="controlLabel">Estoque</label>
    <input
      class="formControl"
      type="number"
      [(ngModel)]="product.stock"
      name="stock"
    />
    <div *ngIf="errors.stock" class="textDanger">{{ errors.stock }}</div>
  </div>

  <div class="formGroup">
    <label class="controlLabel">Categoria</label>
    <select class="formControl" [(ngModel)]="product.categoryId" name="categoryId">
      <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
    </select>
  </div>

  <div class="formGroup">
    <label class="controlLabel">Marca</label>
    <select class="formControl" [(ngModel)]="product.brandId" name="brandId">
      <option *ngFor="let b of brands" [value]="b.id">{{ b.name }}</option>
    </select>
  </div>

  <div class="formCheck">
    <input
      type="checkbox"
      class="formCheckInput"
      [(ngModel)]="product.isActive"
      name="isActive"
    />
    <label class="formCheckLabel">Ativo</label>
  </div>

  <button type="submit" class="btn btnSuccess">Salvar</button>
  <button type="button" class="btn btnSecondary" (click)="handleCancel()">Cancelar</button>
</form>
