<!-- src/app/pages/category/details/details-category-page.component.html -->

<div class="pageContainer" *ngIf="category; else loading">
  <h1 class="title">Detalhes da Categoria</h1>

  <!-- Usando o CategoryDetailsComponent -->
  <app-category-details [category]="category" class="app-category-details"></app-category-details>

  <div class="actions">
    <button class="btnPrimary" (click)="goBack()">Voltar</button>
    <button class="btnSecondary" (click)="goToEdit()">Editar</button>
  </div>
</div>

<ng-template #loading>
  <p class="loading">Carregando detalhes da categoria...</p>
</ng-template>
