<!-- src/app/pages/category/details/details-category-page.component.html -->

<div *ngIf="!category" class="loading">
  Carregando detalhes da categoria...
</div>

<div *ngIf="category" class="pageContainer">
  <h1 class="heading">Categoria - Detalhes</h1>

  <app-category-details [category]="category"></app-category-details>

  <div class="actions">
    <a routerLink="/categories" class="btn btn-secondary btn-custom">
      Voltar
    </a>
    <a [routerLink]="['/categories/edit', category.id]" class="btn btn-warning btn-custom">
      Editar
    </a>
  </div>
</div>
