<!-- src/app/shared/components/layout/breadcrumb/breadcrumb.component.html -->

<nav
  class="breadcrumb"
  aria-label="Breadcrumb"
>
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a
        routerLink="/"
        class="breadcrumb__link breadcrumb__link--home"
      >
        <span class="breadcrumb__home-icon">🏠</span>
        <span>Início</span>
      </a>
    </li>

    <li
      *ngFor="let item of items; let last = last"
      class="breadcrumb__item"
    >
      <span class="breadcrumb__separator">/</span>

      <ng-container *ngIf="!last && item.routerLink && !item.disabled; else lastItem">
        <a
          [routerLink]="item.routerLink"
          class="breadcrumb__link"
        >
          {{ item.label }}
        </a>
      </ng-container>

      <ng-template #lastItem>
        <span class="breadcrumb__current">
          {{ item.label }}
        </span>
      </ng-template>
    </li>
  </ol>
</nav>
